body {
    background-attachment: fixed;
    font-family: sans-serif;
	line-height: 1;
    /*min-width: 766px;*/
	background-color: #2E1573;
    background-image: linear-gradient(bottom, #2E1573 49%, #4F118A 96%);
    background-image: -o-linear-gradient(bottom, #2E1573 49%, #4F118A 96%);
    background-image: -moz-linear-gradient(bottom, #2E1573 49%, #4F118A 96%);
    background-image: -webkit-linear-gradient(bottom, #2E1573 49%, #4F118A 96%);
    background-image: -ms-linear-gradient(bottom, #2E1573 49%, #4F118A 96%);
    height: 100%;
	background-repeat: no-repeat;
}
img{
    display: block;
    margin: 20px auto;
}
.nav a{
    /*text-decoration: none;*/
    font-size: 20px;
    color: rgb(200,199,200);
    font-family: 'Courgette', cursive;
}
.nav li{
    margin-bottom: 15px;
    color: rgb(200,199,200);
}

.first{
    margin-left:121px !important;
    color: #ccc;
    display: inline-block;
    margin-top: 22px;
    margin-left: 30px;
    text-shadow: #111 2px 1px 5px;
    font-family: 'Boogaloo', cursive;
    font-size: 3em;
}
.nav{
    margin-top: 50px;
    margin-left: 120px;

}
.hidden{
	display: none;
}
.side{
    float: right;
    margin-right: 55px;
    display: block;
    box-shadow: 0 7px 30px rgba(120,17,170,.8);
}