body {
font-family:'Lucida Grande', sans-serif;
font-size: 36px;
}
.icon{
display: block;
text-align:right;
left:15.6em;
position:relative;
}
.first{
margin-left:121px !important;
display:inline-block;
}
.first-line,.second-line{
display:block;
text-align:right;
}